<footer style="background-color: lightslategray; margin-top: 150px;">
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="d-flex flex-column" style="margin: 50px;">
                <h4 style="margin-bottom: 30px;">A propos</h4>
                
                <div>
                    <a href="" style="color: inherit; text-decoration: none;">Conditions generales</a>
                </div>
                <div>
                    <a href="./mentions" style="color: inherit; text-decoration: none;">Mentions Legales</a>
                </div>
                <div>
                    <a href="" style="color: inherit; text-decoration: none;">Politique de confidentialite</a>
                </div>
            </div>
            
            <div class="d-flex flex-column" style="margin: 50px;">
                <h4 style="margin-bottom: 30px;">Contact</h4>

                <div style="margin-bottom: 10px;">
                    <a href="/contact" style="color: inherit; text-decoration: none;" >&#9993; Formulaire de contact</a>
                </div>

                <div>
                    <p>
                        <strong style="color: #404040;"> IES de Montpellier</strong>
                        <br>
                        860 Rue de St-Priest <br>
                        Bâtiment 5 <br>
                        34090 Montpellier <br>
                    </p>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div style="margin: 50px;">
                <img src="../../../assets/img/cerema_logo.png" alt="" width="100px" style="margin-right: 30px; border-radius: 4px;">
                <img src="../../../assets/img/logo.svg" alt="" width="100px">
            </div>
        </div>
    </div>
</footer>