<section class="container" style="margin-left: 18%; margin-top: 3%;">
    <div>
        <h2>Services</h2>
        <p>Notre Reseau</p>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis omnis excepturi facilis, quasi rem deleniti, commodi dignissimos minus, tempora amet repellendus quisquam eveniet a ex error reprehenderit. Deserunt, cum esse?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur ut, tempora obcaecati iure recusandae reprehenderit ea adipisci vel eum dicta ratione voluptatem expedita odit soluta debitis blanditiis quaerat ducimus rerum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, hic inventore vero eius maiores itaque esse voluptatum non ullam neque consectetur, minus sit vel soluta perspiciatis similique placeat, aliquam explicabo.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus distinctio dicta necessitatibus hic, atque nulla qui fuga numquam ipsum! Modi, commodi ratione. Nostrum fugiat sit, voluptate voluptates veritatis at atque?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet numquam aperiam voluptatem. Dolore unde corporis rerum, qui, iste ducimus dolor asperiores, quidem magni fugiat natus. Dolorem voluptatibus laboriosam eum.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cumque labore id minima voluptas sed deserunt, beatae quasi quas exercitationem maiores rerum pariatur facere distinctio sit nesciunt sequi atque. Facilis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro mollitia tenetur tempore veniam similique. Iusto exercitationem eligendi fugiat? Officia eos atque itaque perferendis optio iste doloribus molestias earum rem amet.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nobis cupiditate voluptates assumenda debitis nihil minus, itaque libero similique illo soluta laboriosam culpa quam odit quasi inventore. Fugit, labore perspiciatis?
        </p>
    </div>

    <div class="d-flex justify-content-between" style="margin-top: 7%; ">
        <div style="background-color: lightgrey; width: fit-content; height: fit-content;">
            <h2 style="margin: 20px">Acces a l'equipement</h2>
            <img src="../assets/img/microscope.jpg" alt="" style="width: 300px; height: 200px; margin: 20px;">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" style="margin: 20px; border-radius: 0%;">Voir Plus</button>
            </div>
        </div>

        <div style="background-color: lightgrey; width: fit-content; height: fit-content;">
            <h2 style="margin: 20px">Expertise</h2>
            <img src="../assets/img/expertise .jpg" alt="" style="width: 300px; height: 200px; margin: 20px;">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" style="margin: 20px; border-radius: 0%;">Voir Plus</button>
            </div>
        </div>

        <div style="background-color: lightgrey; width: fit-content; height: fit-content;">
            <h2 style="margin: 20px">Formation</h2>
            <img src="../assets/img/formation_1.jpg" alt="" style="width: 300px; height: 200px; margin: 20px;">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" style="margin: 20px; border-radius: 0%;">Voir Plus</button>
            </div>
        </div>
    </div>
</section>