<section class="container" style="margin-left: 18%; margin-top: 3%;">
    <div>
        <h2>Equipements du reseau</h2>
        <br/>
        <p style="font-size: x-large;">Notre Reseau</p>

        <div class="d-flex">
            <div style="padding-right: 40px;">
                
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis omnis excepturi facilis, quasi rem deleniti, commodi dignissimos minus, tempora amet repellendus quisquam eveniet a ex error reprehenderit. Deserunt, cum esse?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur ut, tempora obcaecati iure recusandae reprehenderit ea adipisci vel eum dicta ratione voluptatem expedita odit soluta debitis blanditiis quaerat ducimus rerum?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, hic inventore vero eius maiores itaque esse voluptatum non ullam neque consectetur, minus sit vel soluta perspiciatis similique placeat, aliquam explicabo.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus distinctio dicta necessitatibus hic, atque nulla qui fuga numquam ipsum! Modi, commodi ratione. Nostrum fugiat sit, voluptate voluptates veritatis at atque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet numquam aperiam voluptatem. Dolore unde corporis rerum, qui, iste ducimus dolor asperiores, quidem magni fugiat natus. Dolorem voluptatibus laboriosam eum.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cumque labore id minima voluptas sed deserunt, beatae quasi quas exercitationem maiores rerum pariatur facere distinctio sit nesciunt sequi atque. Facilis.
                </p>
            </div>
            <div>
                <img src="../../assets/img/Mindmap.png" alt="" style="width: 600px;">
            </div>
        </div>            
    </div>
</section>


<section class="container" style="margin-left: 18%; margin-top: 3%;">
    <h2>Recherche par mots cles</h2>
    <div class="input-group mb-3" style="margin-top: 3%; margin-left: 2%;">
        <input type="text" class="form-control" placeholder="Rechercher un equipement par mot-cles" aria-label="Username" aria-describedby="basic-addon1">
    </div>
</section>

<section class="container" style="margin-left: 18%; margin-top: 3%;">
    <h2>Equipements par categorie</h2>

    <!--CATEGORIE I-->
    <div style="margin-top: 5%; margin-left: 2%;">
        <h4>Categorie I - Equipements de mesure</h4>

        <div class="d-flex justify-content-between" style="flex-wrap: wrap;">
            <div class="d-flex flex-column ">
                <h5 style="margin-top: 30px;">Categorie I.1 - Mesures visuelles</h5>

                <div class="scrollable bordered">
                    <div class="d-flex justify" style="margin: 15px;">
                        <a href="/description-eqt">Type I.1.a - Microscopes Optiques</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.b - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.c - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.d - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.e - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.f - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.g - Mesures de contraintes</a>
                    </div>
                </div>
            </div>           

            <div class="d-flex flex-column ">
                <h5 style="margin-top: 30px;">Categorie I.2 - Mesures geometriques</h5>

                <div class="scrollable bordered">
                    <div class="d-flex justify" style="margin: 15px;">
                        <a href="">Type I.2.a - Mesures d'epaisseur'</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.b - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.c - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.d - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.e - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.f - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.g - Mesures d'epaisseur</a>
                    </div>
                </div>
            </div>           

            <div class="d-flex flex-column ">
                <h5 style="margin-top: 30px;">Categorie I.3 - Mesures mecaniques</h5>

                <div class="scrollable bordered">
                    <div class="d-flex justify" style="margin: 15px;">
                        <a href="">Type I.3.a - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.b - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.c - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.d - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.e - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.f - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.g - Mesures de contraintes</a>
                    </div>
                </div>
            </div>     
            
            <div class="d-flex flex-column ">
                <h5 style="margin-top: 30px;">Categorie I.4 - Mesures geometriques</h5>

                <div class="scrollable bordered">
                    <div class="d-flex justify" style="margin: 15px;">
                        <a href="">Type I.4.a - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.4.b - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.4.c - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.4.d - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.4.e - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.4.f - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.4.g - Mesures d'epaisseur</a>
                    </div>
                </div>
            </div>           
        </div>
    </div>

    <!--CATEGORIE II-->
    <div style="margin-top: 5%; margin-left: 2%; ">
        <h4>Categorie II - Equipements de fabrication</h4>

        <div class="d-flex justify-content-between" style="flex-wrap: wrap;">
            <div class="d-flex flex-column " >
                <h5 style="margin-top: 30px;">Categorie II.1 - Mesures mecaniques</h5>

                <div class="scrollable bordered" >
                    <div class="d-flex justify" style="margin: 15px;">
                        <a href="">Type I.1.a - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.b - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.c - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.d - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.e - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.f - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.1.g - Mesures de contraintes</a>
                    </div>
                </div>
            </div>           

            <div class="d-flex flex-column ">
                <h5 style="margin-top: 30px;">Categorie II.2 - Mesures geometriques</h5>

                <div class="scrollable bordered">
                    <div class="d-flex justify" style="margin: 15px;">
                        <a href="">Type I.2.a - Mesures d'epaisseur'</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.b - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.c - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.d - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.e - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.f - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.2.g - Mesures d'epaisseur</a>
                    </div>
                </div>
            </div>           

            <div class="d-flex flex-column ">
                <h5 style="margin-top: 30px;">Categorie II.3 - Mesures mecaniques</h5>

                <div class="scrollable bordered">
                    <div class="d-flex justify" style="margin: 15px;">
                        <a href="">Type I.3.a - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.b - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.c - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.d - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.e - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.f - Mesures de contraintes</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type I.3.g - Mesures de contraintes</a>
                    </div>
                </div>
            </div>     
            
            <div class="d-flex flex-column ">
                <h5 style="margin-top: 30px;">Categorie II.4 - Mesures geometriques</h5>

                <div class="scrollable bordered">
                    <div class="d-flex justify" style="margin: 15px;">
                        <a href="">Type II.4.a - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type II.4.b - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type II.4.c - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type II.4.d - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type II.4.e - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type II.4.f - Mesures d'epaisseur</a>
                    </div>
                    <div class="d-flex" style="margin: 15px;">
                        <a href="">Type II.4.g - Mesures d'epaisseur</a>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</section>