<header class="container" style="margin-top: 2%;">
    <div class="d-flex">
        <div>
            <img src="../assets/img/logo.svg" alt="Accueil" style="height: 90px;">
            <nav>
                <ul style="display: flex; list-style: none; font-size: larger; text-transform: uppercase; font-weight: 400;">
                    <li><a href="" class="li-menu" style="padding-left: 150px;">INSIS</a></li>
                    <li><a href="" class="li-menu">Recherche</a></li>
                    <li><a href="" class="li-menu">Innovation</a></li>
                    <li><a href="" class="li-menu">International</a></li>
                    <li><a href="" class="li-menu">Talents</a></li>
                    <li><a href="" class="li-menu">Notre Reseaux</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<section class="container" style="margin-left: 18%; margin-top: 3%;">
    <div>
        <h2>Nos Reseaux de Plateformes Techniques</h2>

        <div class="d-flex flex-row justify-content-between" style="flex-wrap: wrap; margin-top: 100px;">
            <div style="padding: 20px; background-color: lightgrey; width: 400px;">
                <div style="height: 100px;">
                    <h3>Souffleries Aero-Hydro</h3>
                </div>
                <div style="margin-bottom: 30px;">
                    <img src="../assets/img/recherche.jpg" alt="" style="width: 360px;">
                </div>
                <div style="text-align: justify;">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta eveniet incidunt esse aperiam quod illo voluptates natus ratione. Quisquam quasi exercitationem ducimus voluptates consequatur dolorem sit amet consequuntur expedita perferendis?
                    </p>
                </div>
                <button type="button" class="btn btn-secondary" style="border-radius: 0%; width: 100%;">
                    <a href="../Niveau_2/acceuil.html" style="text-decoration: none; color : inherit;">Voir le Reseau</a> 
                </button>
            </div>  

            <div style="padding: 20px; background-color: lightgrey; width: 400px;">
                <div style="height: 100px;">
                    <h3>Salles Blanches de nano technologies</h3>
                </div>
                <div style="margin-bottom: 30px;">
                    <img src="../assets/img/recherche.jpg" alt="" style="width: 360px;">
                </div>
                <div style="text-align: justify;">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta eveniet incidunt esse aperiam quod illo voluptates natus ratione. Quisquam quasi exercitationem ducimus voluptates consequatur dolorem sit amet consequuntur expedita perferendis?
                    </p>
                </div>
                <button type="button" class="btn btn-secondary" style="border-radius: 0%; width: 100%;">Voir le Reseau</button>
            </div>  

            <div style="padding: 20px; background-color: lightgrey; width: 400px;">
                <div style="height: 100px;">
                    <h3>Equipements de caracterisation mecanique</h3>
                </div>
                <div style="margin-bottom: 30px;">
                    <img src="../assets/img/recherche.jpg" alt="" style="width: 360px;">
                </div>
                <div style="text-align: justify;">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta eveniet incidunt esse aperiam quod illo voluptates natus ratione. Quisquam quasi exercitationem ducimus voluptates consequatur dolorem sit amet consequuntur expedita perferendis?
                    </p>
                </div>
                <button type="button" class="btn btn-secondary" style="border-radius: 0%; width: 100%;">Voir le Reseau</button>
            </div>  
        </div>
    </div>

</section>

<footer style="height: 200px; background-color: lightslategray; margin-top: 150px;">
    <div class="d-flex justify-content-end">
        <div style="margin: 50px;">
            <img src="../assets/img/logo.svg" alt="" width="100px">
        </div>
    </div>
</footer>