<section class="container" style="margin-left: 18%; margin-top: 3%;">
    <div>
        <h2>Fiche Equipement</h2>
        <div>
            <div style="margin: 30px; margin-left: 0px;">
                <p style="margin-bottom: 5px;">Equipements > Microscope Optique</p>
                <h3>Microscope confocal PHASEVISION PF-34</h3> 
            </div>

            <div class="d-flex justify-content-between" style=""> 
                <div class="d-flex flex-column" style="background-color: lightgray; padding: 20px; width: 680px;">
                    <div style="padding: 20px; margin-bottom: 30px; overflow: hidden;">
                        <table class="table" style="width: 680px;">
                            <tbody>
                                <tr>
                                <th scope="row">Marque</th>
                                <td> PHASEVISION </td>
                                </tr>
                                <tr>
                                <th scope="row">Modele</th>
                                <td> PF-34 </td>
                                </tr>
                                <tr>
                                <th scope="row">Localisation</th>
                                <td> salle </td>
                                </tr>
                                <tr>
                                <th scope="row">Contact</th>
                                <td> contact </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h4>Caracteristiques Specifiques</h4> 

                    <div style="padding: 20px; margin-bottom: 30px; overflow: hidden;">
                        <table class="table" style="width: 680px;">
                            <tbody>
                                <tr>
                                <th scope="row">Genre</th>
                                <td>Confocal</td>
                                </tr>
                                <tr>
                                <th scope="row">Resolution</th>
                                <td>1 ym</td>
                                </tr>
                                <tr>
                                <th scope="row">Longueur d'ondes</th>
                                <td>0,5 ym</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    
                </div>

                <div>
                    <img src="../../assets/img/microscope_fiche.jpg" alt="" style="width: 600px;">
                </div>
            </div>
        </div>

    </div>
</section>

<section class="container" style="margin-left: 18%; margin-top: 3%;">
    <h4>Description de l'equipement</h4>

    <p style="margin-top: 3%;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eveniet iure, non, quisquam dolorem laboriosam accusantium veritatis reprehenderit facere adipisci vitae quis corporis aperiam, totam velit molestias. Animi, eum dolore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, praesentium consequatur? Earum delectus rerum minus quis blanditiis nesciunt vel commodi libero! Laboriosam incidunt asperiores, natus cumque id ipsam ducimus soluta?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A impedit, temporibus consectetur exercitationem eligendi dolore, quo autem quidem tempore earum amet minima ullam! Eum minima excepturi mollitia, necessitatibus possimus voluptate.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolore facilis voluptates officiis quasi minima ipsa velit odit error illum sed dolor aliquam molestiae repellendus, dolorem quia id temporibus dicta.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum commodi et, tempore eum ad quod molestias numquam inventore dolorem nihil architecto, reprehenderit dolore nisi adipisci qui pariatur, facere impedit iusto.

        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, amet quam ea iure omnis saepe modi inventore? Commodi modi, neque autem odit suscipit ut accusantium distinctio veritatis adipisci dolorem debitis.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum sapiente beatae laborum, perferendis ab obcaecati corporis quia sed maxime omnis perspiciatis commodi totam et iure quos nobis quas praesentium odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorem voluptas! Dolorum nesciunt laborum quasi exercitationem placeat dolorem non quaerat reiciendis vel aut, impedit neque accusantium nulla laudantium quae beatae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eaque fuga adipisci, esse dolore inventore, vel ducimus porro possimus repellendus velit minus optio, ea eum culpa hic incidunt ipsa nostrum?

        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia harum perspiciatis cumque corporis id et excepturi! Quibusdam blanditiis odit reprehenderit dignissimos quam illum. Eaque deleniti aliquam fugiat assumenda, nesciunt quae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolore illo, doloribus necessitatibus reprehenderit, perferendis et ea eveniet doloremque magnam earum animi voluptatibus aspernatur corrupti, rerum maxime labore error nemo!
    </p>
</section>