<section class="container" style="margin-left: 18%; margin-top: 3%;">
    <div>
        <p>Equipements > Microscope Optique</p>
        <div class="d-flex">
            <h2>Description du type d'equipement</h2>
            <p style="font-size: x-large; margin-top: 4px; margin-left: 25px; color: grey;">Microscope Optique</p>
        </div>       

        <div class="d-flex">
            <div style="padding-right: 40px;">
                
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis omnis excepturi facilis, quasi rem deleniti, commodi dignissimos minus, tempora amet repellendus quisquam eveniet a ex error reprehenderit. Deserunt, cum esse?
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur ut, tempora obcaecati iure recusandae reprehenderit ea adipisci vel eum dicta ratione voluptatem expedita odit soluta debitis blanditiis quaerat ducimus rerum?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, hic inventore vero eius maiores itaque esse voluptatum non ullam neque consectetur, minus sit vel soluta perspiciatis similique placeat, aliquam explicabo.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus distinctio dicta necessitatibus hic, atque nulla qui fuga numquam ipsum! Modi, commodi ratione. Nostrum fugiat sit, voluptate voluptates veritatis at atque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero amet numquam aperiam voluptatem. Dolore unde corporis rerum, qui, iste ducimus dolor asperiores, quidem magni fugiat natus. Dolorem voluptatibus laboriosam eum.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et cumque labore id minima voluptas sed deserunt, beatae quasi quas exercitationem maiores rerum pariatur facere distinctio sit nesciunt sequi atque. Facilis.
                </p>
            </div>
        </div>            
    </div>
</section>

<section class="container" style="margin-left: 18%; margin-top: 3%;">
    <h2>Equipements de ce type disponibles dans le reseau</h2>

    <div class="d-flex flex-row justify-content-between" style="margin-top: 4%;">

        <!--------------------------------------- MENU DE GAUCHE POUR AFFINER LA RECHERCHE  -------------------------------------------------->
        <div style="width: 400px; background-color: lightgrey; padding: 20px;">
            <h4>Affinez votre recherche</h4>

            <!--------------------------------------- MENU - RECHERCHE PAR MOTS CLES  -------------------------------------------------->
            <div class="input-group mb-3" style="margin-top: 10%;">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Search</span>
                </div>
                <input type="text" class="form-control" placeholder="Recherche equipement par mot cles" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <!--------------------------------------- MENU - GENRES  -------------------------------------------------->
            <h5 style="margin-top: 30px;">Genres</h5>

            <div style="margin-left : 15px">
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Sous-Type I.3 a - 1
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Microscope confocal
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Microscope 3D
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Microscope a contraste de phase 
                        </label>
                    </div>
                </div>                  
            </div>

            <!--------------------------------------- MENU - SOUS MENU 2  -------------------------------------------------->
            <h5 style="margin-top: 30px;">Marques</h5>

            <div style="margin-left : 15px">
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Sous-Type I.3 a - 1
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          MASTER IMAGING
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          MICRO SURF3D
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          PHASEVISION
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          MICRODEVICE
                        </label>
                    </div>
                </div>                  
            </div>

            <!--------------------------------------- MENU - SOUS MENU 3  -------------------------------------------------->
            <h5 style="margin-top: 30px;">Caracteristiques techniques</h5>

            <div style="margin-left : 15px">
                <div>
                    <div class="d-flex">
                        <p style="margin-right: 10px;">Resolution de </p>
                        <input type="text" aria-label="Username" aria-describedby="addon-wrapping" style="width: 25px; height: 30px;">
                        <p style="margin-right: 10px; margin-left: 10px;">à</p>
                        <input type="text" aria-label="Username" aria-describedby="addon-wrapping" style="width: 25px; height: 30px;">
                        <p style="margin-right: 10px; margin-left: 10px;">µm</p>
                    </div>
                </div>       
                
                <div>
                    <div class="d-flex">
                        <p style="margin-right: 10px;">Longeur d'ondes de </p>
                        <input type="text" aria-label="Username" aria-describedby="addon-wrapping" style="width: 25px; height: 30px;">
                        <p style="margin-right: 10px; margin-left: 10px;">à</p>
                        <input type="text" aria-label="Username" aria-describedby="addon-wrapping" style="width: 25px; height: 30px;">
                        <p style="margin-right: 10px; margin-left: 10px;">µm</p>
                    </div>
                </div>        
            </div>

            
        </div>

        <!--------------------------------------- Affichage des plateformes et equipements du reseau  -------------------------------------------------->
        <div style="width: 850px; background-color: lightgrey; padding: 20px;">
            <h4>Liste des equipements</h4>

            <div style="margin-top: 50px">
                <div style="padding: 10px; padding-left: 30px; border: thin solid white; margin-bottom: 20px;">
                    <h5>Nom de la PlateForme </h5>
                    <p>- Description ultra courte</p>
                </div>  

                <div style="padding: 10px; padding-left: 30px; border: thin solid white; margin-bottom: 20px;">
                    <a href="/fiche-eqt"><h5>Plateforme Paris</h5></a> 
                    <a href="/fiche-eqt"><p>Microscope confocal, PHASEVISION PF-34, Resolution 0,5 µm</p></a>
                </div>  

                <div style="padding: 10px; padding-left: 30px; border: thin solid white; margin-bottom: 20px;">
                    <h5>Plateforme Toulouse</h5>
                    <p>Microscope confocal, MICRODEVICE XXD-AF, Resolution 1 µm</p>
                </div>  

                <div style="padding: 10px; padding-left: 30px; border: thin solid white; margin-bottom: 20px;">
                    <h5>Plateforme Strasbourg</h5>
                    <p>Microscope confocal, MASTER IMAGING, Option de mesure de fluorescence</p>
                </div>  
            </div>
        </div>
    </div>
</section>